*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Topo*/

.main_header {
    width: 100% auto;
    padding: 2em;
    background-color: #2B2B2B;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.main_header .logo {
    display: flex;
    align-items: center;
}

.main_header .logo img {
    max-width: 150px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 3px;
    background-color: #DDC6A4;
 }

.main_header .navbar {
    display: flex;
    align-items: stretch;
}

.main_header .navbar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    text-decoration: none;
    margin: 0 15px;
    padding: 0 26px;
    height: 100%;
    color: #DDC6A4;
}

.main_header .navbar a:hover{
    color: #eee;
    background-color: #846D62;
}
/*FIM - TOPO*/


/*INICIO - 1ª DOBRA*/

.main_cta{
    width:100%;
    background-image: url('../IMG/bg_main_home.png');
    background-color: #525050;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main_cta .main_cta_content{
    max-width: 1300px;
    margin:0 auto;
}
.main_cta .main_cta_content h1{
    font-size: 3em;
    color:#fff;
    font-weight: 700;
    text-align: center;
}

.main_cta .main_cta_content p{
    font-size: 1.875em;
    color: #fff;
    font-weight: 400;
    text-align: center;
    margin: 20px 0;
}

.main_cta .main_cta_content .main_cta_content_spacer{
    margin:0 auto;
    max-width: 1300px;
    padding: 170px 40px;
}


/*FIM - 1ª DOBRA*/

/*INICIO SESSÃO DE ARTIGOS*/
.main_blog{
    max-width: calc(1300px - 40px);
    padding:0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.main_blog_header{
    flex-basis: 100%;
    margin: 30px 0;
}

.main_blog_header h1{
color:#333;
margin-bottom: 5px;
font-size: 1.8em;
}

.main_blog aside{
flex-basis: calc(25% - 20px);
margin-bottom: 30px;
opacity: 0.7;
}


.main_blog aside:hover{
    opacity:1;
}

    
.main_blog aside p{
   margin: 10px 0;
   font-size: 1.2em;
  
}

.main_blog aside img{
    width: 210px;
    border: none;
    border-radius: 10px;
}

.main_blog .imagens_acesso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Adicionado para alinhar ao centro horizontalmente */
    text-align: center; /* Adicionado para alinhar ao centro horizontalmente */
    padding: 30px;
}

.main_blog .imagens_acesso img {
    max-width: 210px;
    height: 200px; /* Defina a altura desejada para as imagens */
}

.main_blog .imagens_acesso a{
    text-decoration: none;
}

.category{
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: 500;
    color:#d36833;
}

.main_blog aside h2{
    font-weight: 300;
    color:#333;
    font-size: 1.2em;
}

.main_blog aside h2 a{
    color:#333;
}

.main_blog .btn {
    width: 50%;
    padding: 15px;
    background-color: #525050;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 18px;
    margin-top: 20px;
}

.main_blog .btn:hover{
   background-color: #DDC6A4;
   color: #eee;
}

/*FIM SESSÃO DE ARTIGOS*/

/*INICIO DOBRA RODAPE*/

.main_footer{
    max-width: 1300px;
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    color: #eee;
    background-color: #525050;
    font-weight: 600;
}

.main_footer > header{
    flex-basis: 100%;
}
.main_footer > header h1{
    font-size: 1.4em;
    margin-bottom: 40px;
    text-align: center;
}

.main_footer > article h2{
    margin-bottom: 20px;
}

.main_footer > article ul li{
    list-style: none;
    margin: 5px 0;
}

.main_footer > article ul li a{
    color:#eee;

}

.main_footer > article ul li a:hover{
    text-decoration: underline;
    
}

footer p{
    color: #eee;
    background-color: #525050;
    font-weight: 600;
    text-align: center;
    padding: 15px 0 15px 0;
}

.main_footer_our_pages , .main_footer_links{
    flex-basis: 25%;
}

.main_footer_about{
    flex-basis: 50%;
}
.main_footer_rights{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #f7f7f7;
    border-top: 1px solid #ebebeb;
    font-size: 0.9em;
    color: #666;
    font-weight: 300;
}
/*FIM DOBRA RODAPÉ*/
